div.wrapper {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-weight: bold;
    display: block;
    background: limegreen;
    border-radius: 10px;
    border: 1px solid green;
}